:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --tipografiaGeneral: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: var(--tipografiaGeneral);
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
    margin: 30px 0 30px;

}