/* header */
.home__header {
    background-color: #EAC926;
}

.home__header__div {
    display: flex;
    align-items: center;
    padding: 10px 5px;


}

.home__header__div__figure {
    width: 50%;
    padding: 10px;
}

.home__header__div figure img {
    width: 100%;
}

.home__header__div__figure,
.home__header__div__form {
    width: 50%;

}

.home__header__div__form {
    position: relative;
    margin-right: 15px;
}

.home__header__div__form input {
    width: 100%;
    outline: none;
    height: 35px;
    padding: 0 10px;
    outline: none;
}


.boton_buscar {
    top: 0;
    right: 1px;
    bottom: 0;
    position: absolute;
    width: 35px;
    height: 20px;
    margin: auto;
    text-align: center;
    border-left: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.8);
}


.home__header__div__compra p {
    text-align: center;
    font-weight: 400;

}

.home__header__nav {
    display: none;
}


.home__header__button--bars {
    width: 30px;
    height: 30px;
    background-color: var(--colorCeleste);
    color: var(--colorGrisClaro);
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin: 30px 45%;
}

.home__banner img {
    display: none;
}

/* MAIN */

.home__main {
    width: 90%;
    margin: 0 auto;
}

.home__main__article {
    margin: 10px 0;
    background-color: #FFF;
}

.home__main__article__figure {
    margin: 0 20px;
}

.home__main__article__figure img {
    width: 100%;
    padding: 10px;
    margin: 0;
}

.home__main__article__contendeor--precio-descuento-descr {
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home__main__article__contendeor--precio-descuento-descr i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.home__main__article__contendeor--precio-descuento-descr p.precio {
    width: 30%;
    font-size: 18px;
    padding-right: 10px;
}

.home__main__article__contendeor--precio-descuento-descr p.descuento {
    width: 70%;
    color: #39b54a;
    font-size: 16px;
    padding-left: 20px;
}

.home__main__article__contendeor--precio-descuento-descr h4 {
    display: none;
}



/* FOOTER */

.home__footer--contenedor {
    text-align: center;
    padding: 10px 35px;
}

.home__footer_article {
    margin-top: 10px;
}

.home__footer_article i {
    font-size: 2em;
}

.home__footer--contenedor-copyright {
    margin: 25px 20px;
    padding: 0;
}


@media (min-width:430px) {

    /* Header */
    .home__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .home__header__div {
        width: 70%;
    }

    .home__header__div__compra {
        width: 30%;
    }

    .home__header__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .home__header__nav--menu1 {
        width: 40%;
        display: flex;
        gap: 10px;
        gap: 10px;
        margin-left: 10px;
    }

    .home__header__nav--menu2 {
        width: 40%;
        display: flex;
        gap: 10px;
        font-size: 12px;
        justify-content: flex-end;
        gap: 15px;
        margin-right: 10px;
    }

    .home__header__nav--menu2 i {
        margin-left: 2px;
    }



    .home__header__button--bars {
        display: none;
    }

    /* banners */
    .home__banner img {
        display: block;
        width: 100%;
    }

    /* MAIN */

    .home__main__section__contenedor-articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home__main__article {
        width: 48%;
    }

    .home__main__article__contendeor--precio-descuento-descr h4 {
        display: block;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .home__main__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /* FOOTER */
}

@media (min-width:1024px) {

    /* Header */

    .home__header__div {
        width: 80%;
    }

    .home__header__div__compra {
        width: 20%;
    }

    .home__header__div figure img {
        /*         width: 80%; */
        padding: 20px;
    }

    .home__header__nav--menu1 {
        font-size: 16px;
        gap: 25px;
        justify-content: flex-start;
    }

    .home__header__nav--menu2 {
        font-size: 16px;
        gap: 25px;

    }

    /* MAIN */

    .home__main__article {
        width: 23%;
    }


    /* FOOTER */
}